<!-- 
  <div class="form-container" id="login-form">
    <form #loginForm="ngForm" novalidate (ngSubmit)="loginSubmit()">
      <div>
        <input type="text" name="user_email" placeholder="email" [(ngModel)]="username" required>
      </div>
      <div>
        <input type="password" name="password" placeholder="password" [(ngModel)]="password" required>
      </div>
      <div>
        <button type="submit" [disabled]="!loginForm.valid">Login</button>
        <button type="reset">Reset</button>
      </div>
    </form>
  </div> -->


  <body>
   
      <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5" id="login-form"> 
              <div class="card-body form-container">
                <h5 class="card-title text-center">Sign In</h5>
                <form class="form-signin" #loginForm="ngForm" novalidate (ngSubmit)="loginSubmit()">
                  <div class="form-label-group h-50">
                    <input style="height:50px" type="email" name="user_email" id="inputEmail" class="form-control " placeholder="email" [(ngModel)]="username" required autofocus>
                    <label for="inputEmail" class =" ml-3">Email address</label>
                  </div>
                  <div class="form-label-group">
                    <input style="height:50px" type="password"  [(ngModel)]="password"  name="password" id="inputPassword" class="form-control " placeholder="Password" required>
                    <label for="inputPassword" class ="ml-3">Password</label>
                  </div>
                  <button [disabled]="!loginForm.valid" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="button" (click)="accountCreation()">Create new account</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>


    <!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! -->

<!-- <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Sign In</h5>
              <form class="form-signin">
                <div class="form-label-group">
                  <input style="height:50px" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                  <label for="inputEmail">Email address</label>
                </div>
  
                <div class="form-label-group">
                  <input  style="height:50px" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                  <label for="inputPassword">Password</label>
                </div>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Create New Account</button>
      
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body> -->
