<form>
  <label>Event ID: </label><br>
  <label>Round Number: </label>
  <div>
    <table>
      <tr>
        <th>Player 1</th><th>VS.</th><th>Player 2</th><th>Player 1 Score:</th><th>Player 2 Score:</th><th>Lock result</th>
      </tr>
      <tr *ngFor="let match of roundMatches">
        <td>{{match.p1.name}}</td><td>VS.</td><td>{{match.p2.name}}</td><td><input name="P1Score" [(ngModel)]="match.p1Score" type="number" value="0" style="width: 4em; float: right;"/></td><td><input name="P2Score" [(ngModel)]="match.p2Score" type="number" value="0" style="width: 4em; float: right;"/></td><td><input type="checkbox" style="margin-left: 30%;" required/></td>
      </tr>
    </table>
  </div>
  <button type="button" [disabled]="true" (click)="roundSubmit()">Submit round results</button> <button type="button" (click)="finalSubmit()">Tournament is over</button>
</form>
