<div class="form-container" id="event-creation">
  <form #eventForm="ngForm" novalidate (ngSubmit)="onSubmit()">
    <div>
      <label for="type">Event Type: </label>
      <select name="type" id="type" [(ngModel)]="usedFormat">
        <option *ngFor="let format of formats" [ngValue]="format">{{format.title}}</option>
      </select>
    </div>
    <div>
      <label for="description" style="vertical-align: top;">Event Description: </label>
      <textarea name="event-description" id="description" placeholder="Event Description" [(ngModel)]="evt_desc" required></textarea>
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
