<div id="bar">
  <div class="card p-4 rounded mt-5" id="my-preview-div">

    <div class=" card-body" id="pad">
      <div class="container" id="center">
        <div class="">
          
            <h1 class="col center">
              This is the tournament!
            </h1>
        
        </div>
        <div class="row">
          <p>
              <i class="fas fa-angle-down"></i>
            Below are your round pairings!
          </p>
        </div>
        <app-tournament-item></app-tournament-item>
      </div>

    </div>
  </div>
</div>