<p>Tournament Management:</p>
<app-tournament-item></app-tournament-item>
<!--<form>
  <div>
    <table>
      <tr>
        <th>Player 1</th><th>VS.</th><th>Player 2</th><th>Player 1 Wins:</th><th>Player 2 Wins:</th><th>Lock result</th>
      </tr>
      &lt;!&ndash;<tr>
        <td>Joe Milne</td><td>VS.</td><td>Chris Oberg</td><td><input type="number" value="0" style="width: 4em; float: right;"/></td><td><input type="number" value="0" style="width: 4em; float: right;"/></td><td><input type="checkbox" style="margin-left: 30%;" required/></td>
      </tr>&ndash;&gt;
      <app-tournament-item></app-tournament-item>
    </table>
  </div>
  <button type="button" [disabled]="true">Submit round results</button>
</form>-->
